.section {
    margin-top: 16px;

    .section-title {
        display: flex;
        align-items: center;

        hr {
            flex-grow: 2;
        }
    }

    .section-item:last-child {
        margin-bottom: 0;
    }

    p:only-of-type {
        margin-bottom: 0;
    }
}