.footer {
    .footer-container {
        display: flex;
        justify-content: space-between;

        div > p:last-child {
            margin-bottom: 0;
        }
    }

    hr {
        margin-top: 26px;
    }
}